<a href="https://colab.research.google.com/github/afd998/Project_Euler/blob/master/Project_Euler_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size="4">Problem 1: </font></marquee>

<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</p>
<p>Find the sum of all the multiples of 3 or 5 below 1000.</p>

In [0]:
result=0
for i in range(0,1000):
  if i%3 == 0:
    result += i
  elif i%5 == 0:
    result +=i
print(result)

<font size="4">Problem 2: </font></marquee>

<p>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:</p>
<p style="text-align:center;">1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...</p>
<p>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.</p>

In [2]:
fib_0=1
fib_1=2
result =0
for fib_1 in range(0,4000000):
  if fib_1%2==0:
    result+=fib_1
  temp = fib_1
  fib_1 = temp + fib_0
  fib_0 = temp

print(result)

3999998000000

<font size="4">Problem 3: </font></marquee>

<p>The prime factors of 13195 are 5, 7, 13 and 29.</p>
<p>What is the largest prime factor of the number 600851475143 ?</p>

In [28]:
checked=[]

def primes(a):
  for i in range(2, a+1):
    div =a%i
    if div == 0:   
      checked.append(i)
      primes(int(a/i))
      break
  return
primes(600851475143)
print(max(checked))

6857